<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
      Carrito
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col izeMd="4" offsetMd="4">
        <ion-list *ngFor="let producto of productos">
            <ion-item >
              <img [src]="'http://localhost:7777/' + producto.imagen" width="40px%" height="40px">
                <p class="title">{{producto.nombre}}</p>
                <p class="subtext">{{ producto.precio }} € </p>
                <p class="subtext">{{ producto.descripcion }}</p>
                <ion-icon style="text-align: right;" name="close" color="danger" (click)="removeProducto(producto)"></ion-icon>
            </ion-item>
        </ion-list>
        <ion-list><strong>Total {{ total }} </strong></ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- Round -->
  <ion-button (click)="removeCarrito()" shape="round">Borrar carrito</ion-button>
</ion-content>
