<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
      Productos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar animated placeholder="Buscar" (ionChange)="buscarProducto($event)"></ion-searchbar>
  <ion-grid>
    <ion-row>
      <ion-col izeMd="4" offsetMd="4">
        <!-- Skeleton -->
        <ion-list *ngIf="productos.length === 0">
          <ion-item *ngFor="let producto of productos">
            <ion-label>
              <ion-skeleton-text width="40%"></ion-skeleton-text>
              <ion-skeleton-text width="80%"></ion-skeleton-text>
            </ion-label>
          </ion-item>
        </ion-list>
        <ion-list *ngFor="let producto of productos | filtroProductos: textoBuscar">
                    
          <ion-button (click)="anadirProducto(producto)" color="light" style="float: right;">
            <ion-icon  name="bag-outline"></ion-icon>
          </ion-button>
            <ion-item [routerLink]="['/detalle/' + producto.idProducto]">
              <img [src]="'http://localhost:7777/' + producto.imagen" [width]="100" [height]="100" style="margin-bottom: 10px;">
              <ion-label style="margin-left: 10px;">
                <h2 class="title"><strong>{{producto.nombre}}</strong></h2>
                <h1 class="subtext">{{ producto.precio }} € </h1>
                <p class="subtext">{{ producto.descripcion }}</p>
              </ion-label>
            </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
